apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Chart.AppVersion }}-{{ .Values.global.stage | default "develop" }}-liquibase-update
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  #annotations:
    #"helm.sh/hook": pre-install,pre-upgrade
spec:
  template:
    metadata:
      labels:
        app: liquibase
        stage: {{ .Values.global.stage | default "develop" }}
      name: {{ .Values.global.stage | default "develop" }}-yona-liquibase-update
      #Istio does not like Jobs
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      initContainers:
        - name: validatedb
          image: craftypenguins/k8s-init-mysql:latest
          env:
            - name: DBUSER
              value: {{ .Values.mariadb.mariadbUser | default "develop" | quote }}
            - name: DBPASSWORD
              value: {{ .Values.mariadb.mariadbPassword | default "develop" | quote }}
            - name: DBHOST
              {{- if .Values.mariadb.hostname_override }}
              value: {{ .Values.mariadb.hostname_override | quote }}
              {{- else }}
              value: {{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local
              {{- end }}
            - name: DBNAME
              value: {{ .Values.mariadb.mariadbDatabase | quote }}
            - name: TIMEOUT
              value: "10s"
        - name: validateldap
          image: craftypenguins/k8s-init-ldap:latest
          env:
            - name: DN
              value: {{ .Values.ldap.user_dn | default "cn=admin,dc=example,dc=local" | quote }}
            - name: PASSWORD
              value: {{ .Values.ldap.user_password | default "ldappassword" | quote }}
            - name: LDAPHOST
              value: "{{ .Values.ldap.hostname }}"
            - name: LDAPPORT
              value: "{{ .Values.ldap.port | default 389 }}"
      containers:
        - name: liquibase
          image: {{ .Values.global.imagebase | default "yonadev" }}/yona-mariadb-liquibase-update:build-{{ .Chart.AppVersion }}
          imagePullPolicy: IfNotPresent
          env:       
            - name: USER
              value: {{ .Values.mariadb.mariadbUser | default "develop" | quote }}
            - name: PASSWORD
              value: {{ .Values.mariadb.mariadbPassword | default "develop" | quote }}
            - name: URL
            {{- if .Values.mariadb.url_override}}
              value: {{ .Values.mariadb.url_override | quote }}
            {{- else }}
              value: "jdbc:mariadb://{{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local/{{ .Values.mariadb.mariadbDatabase }}"
            {{- end }}
            - name: RELEASE
            {{- if .Values.mariadb.seed_release}}
              value: {{ .Values.mariadb.seed_release | quote }}
            {{- else }}
              value: {{ .Chart.AppVersion | quote }}
            {{- end }}
            - name: MAX_TRIES
              value: {{ .Values.seed_max_tries | default "3" | quote }}
            {{- if .Values.ldap.enabled }}
            - name: LDAP_URL
              {{- if .Values.ldap.url_override}}
              value: {{ .Values.ldap.url_override | quote }}
              {{- else }}
              value: "ldap://{{ .Values.ldap.hostname }}:{{ .Values.ldap.port }}"
              {{- end }}
            - name: LDAP_DN
              value: {{ .Values.ldap.dn | default "DC=example,DC=local" | quote }}
            - name: LDAP_USER_DN
              value: {{ .Values.ldap.user_dn | default "cn=admin,dc=example,dc=local" | quote }}
            - name: LDAP_USER_PASSWORD
              value: {{ .Values.ldap.user_password | default "password" | quote }}
            {{- end }}
            - name: ACT_CATEGORIES_JSON_FILE
              value: {{ .Values.admin.act_categories_json_file | default "productionActivityCategories.json" | quote }}
            - name: SERVICE_NAMESPACE
              value: {{ .Release.Namespace }}
      restartPolicy: Never
