apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.stage | default "develop" }}-analysis
  labels:
    app: analysis
    stage: {{ .Values.global.stage | default "develop" }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    build: "{{ .Chart.AppVersion }}"
spec:
  replicas: 1
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  selector:
    matchLabels:
      app: analysis
      stage: {{ .Values.global.stage | default "develop" }}
  template:
    metadata:
      labels:
        app: analysis
        stage: {{ .Values.global.stage | default "develop" }}
      {{- if .Values.istio.enabled }}
      annotations:
        sidecar.istio.io/inject: "true"
      {{- else }}
      annotations:
        sidecar.istio.io/inject: "false"
      {{- end }}
    spec:
      initContainers:
        - name: validatedb
          image: craftypenguins/k8s-init-mysql:latest
          env:
            - name: DBUSER
              value: {{ .Values.mariadb.auth.userName | default "develop" | quote }}
            - name: DBPASSWORD
              value: {{ .Values.mariadb.auth.password | default "develop" | quote }}
            - name: DBHOST
              {{- if .Values.mariadb.hostname_override }}
              value: {{ .Values.mariadb.hostname_override | quote }}
              {{- else }}
              value: {{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local
              {{- end }}
            - name: DBNAME
              value: {{ .Values.mariadb.auth.database | quote }}
            - name: TIMEOUT
              value: "10s"
      containers:
        - name: analysis
          image: '{{ .Values.global.imagebase | default "yonadev" }}/analysisservice:build-{{ .Chart.AppVersion }}'
          imagePullPolicy: {{ .Values.global.imagePullPolicy | default "IfNotPresent" | quote }}
          env:
            - name: YONA_DB_USER_NAME
              value: {{ .Values.mariadb.db.user | default "develop" | quote }}
            - name: YONA_DB_PASSWORD
              value: {{ .Values.mariadb.db.password | default "develop" | quote }}
            - name: YONA_DB_URL
            {{- if .Values.mariadb.url_override}}
              value: {{ .Values.mariadb.url_override | quote }}
            {{- else }}
              value: "jdbc:mariadb://{{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local/{{ .Values.mariadb.db.name }}"
            {{- end }}
          ports:
            - containerPort: 8080
            - containerPort: 9080
          volumeMounts:
            - name: config-volume
              mountPath: /opt/app/config
            - name: firebase-resources
              mountPath: /opt/app/firebase
          livenessProbe:
            httpGet:
              path: /actuator/health/
              port: 9080
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Chart.AppVersion }}-{{ .Release.Revision }}-{{ .Values.global.stage | default "develop" }}-springboot
        - name: firebase-resources
          secret:
            secretName: {{ .Chart.AppVersion }}-{{ .Release.Revision }}-{{ .Values.global.stage | default "develop" }}-firebase-bundle
