apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Values.global.stage | default "develop" }}-batch
  labels:
    app: batch
    stage: {{ .Values.global.stage | default "develop" }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    build: "{{ .Chart.AppVersion }}"
spec:
  replicas: 1
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: batch
        stage: {{ .Values.global.stage | default "develop" }}
      {{- if .Values.istio.enabled }}
      annotations:
        sidecar.istio.io/inject: "true"
      {{- else }}
      annotations:
        sidecar.istio.io/inject: "false"
      {{- end }}
    spec:
      initContainers:
        - name: validatedb
          image: craftypenguins/k8s-init-mysql:latest
          env:
            - name: DBUSER
              value: {{ .Values.mariadb.mariadbUser | default "develop" | quote }}
            - name: DBPASSWORD
              value: {{ .Values.mariadb.mariadbPassword | default "develop" | quote }}
            - name: DBHOST
              {{- if .Values.mariadb.hostname_override }}
              value: {{ .Values.mariadb.hostname_override | quote }}
              {{- else }}
              value: {{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local
              {{- end }}
            - name: DBNAME
              value: {{ .Values.mariadb.mariadbDatabase | quote }}
            - name: TIMEOUT
              value: "10s"
      containers:
        - name: batch
        image: '{{ .Values.global.imagebase | default "yonadev" }}/batchservice:napi-build-{{ .Chart.AppVersion }}'
          #imagePullPolicy: Always
          env:       
            - name: YONA_DB_USER_NAME
              value: {{ .Values.mariadb.mariadbUser | default "develop" | quote }}
            - name: YONA_DB_PASSWORD
              value: {{ .Values.mariadb.mariadbPassword | default "develop" | quote }}
            - name: YONA_DB_URL
            {{- if .Values.mariadb.url_override}}
              value: {{ .Values.mariadb.url_override | quote }}
            {{- else }}
              value: "jdbc:mariadb://{{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local/{{ .Values.mariadb.mariadbDatabase }}"
            {{- end }}
          ports:
            - containerPort: 8080
            - containerPort: 9080
          volumeMounts:
            - name: config-volume
              mountPath: /opt/app/config
          livenessProbe:
            httpGet:
              path: /actuator/health/
              port: 9080
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Chart.AppVersion }}-{{ .Values.global.stage | default "develop" }}-springboot
