<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsentText</key>
	<dict>
		<key>default</key>
		<string>Please Allow me</string>
	</dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>Guardian CA Cert (4) (1).crt</string>
			<key>PayloadContent</key>
			<data>
			LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHekNDQWdP
			Z0F3SUJBZ0lCQnpBTkJna3Foa2lHOXcwQkFRc0ZBREFkTVJzd0dR
			WURWUVFERXhKemJXOXYKZEdoM1lXeHNNREF6TG5sdmJtRXdJaGdQ
			TWpBeE5URXdNalF4T0RFMk1qVmFHQTh5TURNd01UQXlNREU0TVRZ
			eQpOVm93SFRFYk1Ca0dBMVVFQXhNU2MyMXZiM1JvZDJGc2JEQXdN
			eTU1YjI1aE1JSUJJakFOQmdrcWhraUc5dzBCCkFRRUZBQU9DQVE4
			QU1JSUJDZ0tDQVFFQTdscTljYnVYdVYxRXpKU3RWUlNCVENrMW9X
			VXJYRDJvRDN0QWh5UCsKazJXS3JWK1dHSFJPR0hpL1NkRlhxMW5s
			SWNNRlN4R0g4dnh6RDNsRDIyUUZ0cjVCSDZqM3AzWXFjaG9RUFpG
			aQpIeHlRYTRGWHR1ZUFyTXRHVTVnTGlkNmwzTlpWcmp1ZDYrWFhW
			TU5vRFI2RE9JMmMySkNpMlN1MUE4MEQ1YkpECjJYMFllK1BLTmZu
			MHJFU1JCbTNNREFDcUxoTno0a080UGE0L0ZGaEs1ckY0VkRTSUFD
			QXFjT3hxMk8wZHRTTzEKcFNoL0lpc1RONFRiY2Z4SnE0NVBIcnUr
			ZXFESE9uaXNpMmhWalRKK0pTUW52VU8rMGkwajhGOElMNDV0M1ht
			Ywo5NE5jWXMwQVhoY3FDYStnVEd4aUhsdmxhbUJEbERaRWR3UGIx
			ZyszQlo2Q01RSURBUUFCbzJJd1lEQVBCZ05WCkhSTUJBZjhFQlRB
			REFRSC9NQjBHQTFVZEVRUVdNQlNDRW5OdGIyOTBhSGRoYkd3d01E
			TXVlVzl1WVRBUEJnTlYKSFE4QkFmOEVCUU1EQndRQU1CMEdBMVVk
			RGdRV0JCU2dmSlNSdTNpOEpYY0hCY2M0d1dHMkw2ZjZUVEFOQmdr
			cQpoa2lHOXcwQkFRc0ZBQU9DQVFFQUZoVjExRVFFRWtubUcveGJH
			TTFLQ1ltaWhzUUd0b25RdDZ2dk1rMGxDdnZXCkJ5RkZWOW1BVHhh
			TmVOS1FWS0hORWhUSHdzb2NyQzZNQWh3cTExaHVqcDZwYW5pSExp
			OVhFL0FiOXdVckV3MFUKMkMvUUNSVkIzK0VacG96YmFkSHJrQXVE
			a0JhMkF5TE9PMUt6bExYdXRUc005Y09YdWtYdElqdzJHVjlhY0kz
			aApFMWF0cmUzSTYrc1hERDFzdGZGWnM2cUtwcGhSYVN3TlNDbkZP
			YTUrbUsxR3RIYnIwZi9CYlNUeW9wK25LVnl0CkErcGV3alBVYUVS
			aWpqa2dhVDJxeWdLQ2tRUTAzaWFMRXo2akQxREt2WTlOaXBjWTJm
			OFdCSytTVE56NnFBeXAKTUN1SXY3VjI2emp3WDFQOTFOT28wcy9o
			dG94eHh4RGl2ODZuVXVZVzhBPT0KLS0tLS1FTkQgQ0VSVElGSUNB
			VEUtLS0tLQo=
			</data>
			<key>PayloadDescription</key>
			<string>Adds a CA root certificate</string>
			<key>PayloadDisplayName</key>
			<string>smoothwall003.yona</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.root.FE67BAE8-B81C-4764-92E4-61F42AE23505</string>
			<key>PayloadType</key>
			<string>com.apple.security.root</string>
			<key>PayloadUUID</key>
			<string>FE67BAE8-B81C-4764-92E4-61F42AE23505</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Password</key>
			<string>joepie</string>
			<key>PayloadCertificateFileName</key>
			<string>rquist@yona.noww.p12</string>
			<key>PayloadContent</key>
			<data>
			MIIJoQIBAzCCCWcGCSqGSIb3DQEHAaCCCVgEgglUMIIJUDCCBAcG
			CSqGSIb3DQEHBqCCA/gwggP0AgEAMIID7QYJKoZIhvcNAQcBMBwG
			CiqGSIb3DQEMAQYwDgQI8xlN9q7y4TQCAggAgIIDwEbWTpSiBKdx
			r9vh5zQQIoUjw2yUm/iRZqIpkyf11AZ0cMw2DlwVrFTa2M8TaBVa
			AZx0wuVZ6p3M2I5RRPaGwc/N2Bz9S+hB9TKnTWK8Hc+e925Berja
			yR7iwp2gcWya+gM1nkc5LRgSs8ZaEw+k3UgGNltNCvFIgDVBJxRb
			0iJ23sVicWYEKNSo4BrxSmFBhbIGH9QujRYntMYhKGXNsE4R4Q+d
			Q79LK7CWrP8a+70P4bEElTbubkZUPNd+iAX/KliqYV5xyCL39xn4
			+uk03NCsHEYNVAY2HL607gdNGnBI+bDV6LV6coqWEXisHAcb7Sxq
			T2ybqnqJ6NJToCDIbGxIELrboMaVhaTLUWcOYu2Im9nE6YBnDqEj
			YPQLRKjNrRZEZ/bUJHgycW6PxUoRXgeQet1DKcdXKevMLefsvDwE
			9BIxhZUqZOoWtv4V10yz7JUgj/cV8aXOawW/WaBH1Z7NfAx9RWMH
			XxKCGVAlz3sgyQuvgVUtJAddLPu3iegpvfvO+Td4VNLXf/SHolL+
			l5Cp3ayUwO2eMN94sLNXX/41TgOkc504afUR9MVhFxTq9XeMxA18
			mXIpSc2fzuqmUIDheR2lgg/5ntmsJn/VRbM8JjIGznIf6xYlJMAB
			cbohuJr75MjDxXRnVJWaYAr5KR/hpxkbhJ8HlyDaaPOAHUlHjp4K
			Xg3K6ynrL4kVgmb+LyW6SXz0FqJ6A6aQjI63j7eQ7plREJETsfJa
			PjpMmMJ646vSG1f+c8I0lyfNu3F8OYnDFpf7Oc1y/lDCVOHs3mMk
			sSuUSQYNffF+sQ6hOFXIfa0hKyzMzzfSdXd0cmueQZUHJLOis9QZ
			9iUdQYzidxX/8nvMJ4SBtC/I6R7aRcKW3EtZ59lL7IdxFt02psBd
			CimTnKGtiP7NTfyEKbkCh9FeXCyLGg6uB6rx3YJOWl4KwULe82fC
			YiqVtg6/tghieKijjMFfxy3qSzHAuMFYxhR1lEGmv50YL6/viA1Z
			+5z5+GMRCjGYpYm2i2PuCm3dnpCxgduxZgUQujMsP/+Qd77arEiK
			t6lyfTG7HaAkG//12ifW9Ix2+8oIWc5pG6IHDtGlEFJVgs3cYOPQ
			RX8PVPUeZKNsoNSJZ+F9cN28phKOkPMxtYED5DKOEVI2ztPkIDWc
			X3I/QkvB4mG3vbpV7V4/hK1ax6s81rRpfDxtAHI07OjmA/oVDQDs
			HXj5eJAoIK/5XA8jNKCcXp8TncTjH+IMXMknvnry1BIRYmm8B6GY
			lFNZ/MgiOrHJZjF6Zu1H/TCCBUEGCSqGSIb3DQEHAaCCBTIEggUu
			MIIFKjCCBSYGCyqGSIb3DQEMCgECoIIE7jCCBOowHAYKKoZIhvcN
			AQwBAzAOBAigGAF/W/pXBwICCAAEggTI/kzvksPa6HChycG6M2/e
			nAJ6shxQX4ul0edWkF/upg8fGJHrdbDqPS+AZUM/OeV/zFQ4oju+
			g4DRQ7lJW3ENsh6NFZbbgoAyIXIrV3N6dAYYt9Bs9HDkgTOGuVxK
			3RyJZnjZyXJmigXcNsdIPqGka4ogfB1d6NxzG+2l4at2z212HaSH
			sD3lJPqPIAtgT3M3KQC8SSby8BWKkKdb7jCgwSF/NcAztP7ZPddm
			45qNZc/2S/sgugbrp5ftDEIWYP6HN0nPph44HQR+Wdp7OED7Sk6j
			gIxxpp59u4UiR68LynPYsse+LLSiMDtFenIeBhBO0E6HCo4VHxwb
			WHsTxU2HF3Ai0WuG69mCkVn0p3G1ON1q3TNp2KHF8tGWN4JnqN5O
			7yQWGHUo56k929+cKIP5FabESrYSiJBv013akxHYMLZcW9VFXwPv
			aKPTt7JnvIfC/AA6m3FDBL5UWsnuT8KMdhE7fnNWwijAtVZYISbj
			JojxhT5v1z1qCrNlftFACq/rI/anXtd3y04vQOQsJXPeZf4R02uv
			SPQ5i4F0/jZ6YH386Z/4xhd/57DpeCdU6hv1hDi+N18Plvbq8jbL
			uSAypvjry+cllIQ0u3oiOIPzeMhT3DXnL5CmentuWuiP9AoZ4MKS
			/lvXIYYWCpIfPrWISYXXdUgIQfU+NdPxOxm1tAASCFD4Mp7Xj5l9
			yZb0J7wKch2Nkq9wJeluShe+IIJ1sHc+PA+YfSYnmmVmqPxp5oUn
			ZPKdlpLJYuQglIDznyXf4tP1eMxRIunYYTFj+/9BmIAxVY0wm6DL
			HfZ7ioyEgENAUZuc/nn7/75QzmnrbIhY+RCgUEMNH4asMxLacYwU
			ulb+9fv3Bgy8FHGFluyx+qOdvFDkrfGZJecSxrzjZq7zf6J9dXau
			uXoHqUWNu4Nn+8MY4lONqRIMNBL17UP3d92tZ2P2DH0FqUksyGdb
			ePe2QNCLTxhlopQ+ft7CYS2rBVTzTWvUHL8CN56R05N6O1irWU14
			63EcwtkE8SgUMB5xMrHa8XBuen/AZDu3UKdkfUqBjgZKWxTAUP7Z
			XOZflUFL4K1qVTeBQyVFaj3QO6q1mPzo5fbKb72m6B61KxgCAVRN
			k102d7Y1/rQn8q2OchWwswcfMf5ryETmCWaRxJItIUw1nQ+pe7Td
			AtLzTpCkID3X/eK075JTrgOQd+VpRxADwo8h9/XH8ZSUkP1zLiqX
			GkZ6m4CBMP0+ay2Y0HYUYxXaePGFcdP1uCWjA+PpHql6wuN60xh3
			givBTI49QAog0pHjPaM/zi3Asn6Z74he2VY8wRLAtQvOWo4A3baU
			6AflOQ0ftunFJ73Jv6cjt214syr6plehO3JWE0qKD+aJgQu4jN6J
			i6XXPFTfNtOKOgU+TWtyTY40l/KSMPp7pO8hnTSP8ni9AOtjHCQV
			bBWfnVyGy/pszrmfNZ56UrRsRgQhKsOOJMxEDiKzVBfeGDeQngJR
			dbFIPVHOkejg4bVFgCztwBXlilB1GK+Wzof4zuvHMOFOHI+xe2bd
			cFLB2PC7y/YXmGa7g8rph1vdS8vI6o7o8ROJzsB53lMf0oRlT7va
			AhOIkm/3wJYbLwTUXK9LPgatg3VIVfvxzXNMRkFiFdR8wd+126vo
			MSUwIwYJKoZIhvcNAQkVMRYEFLtvJjTZq6W9OPLhsrZ8SHeiRccm
			MDEwITAJBgUrDgMCGgUABBQq/UaovDPyN0M0VQ0voWeAa8x9qgQI
			rVw8cebTOqYCAggA
			</data>
			<key>PayloadDescription</key>
			<string>Adds a PKCS#12-formatted certificate</string>
			<key>PayloadDisplayName</key>
			<string>rquist@yona.noww.p12</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.pkcs12.768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
			<key>PayloadType</key>
			<string>com.apple.security.pkcs12</string>
			<key>PayloadUUID</key>
			<string>768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>IPv4</key>
			<dict>
				<key>OverridePrimary</key>
				<integer>1</integer>
			</dict>
			<key>PayloadDescription</key>
			<string>Configures VPN settings</string>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.vpn.managed.2EE0702C-5E6B-4C9D-818B-32E40E86D9A1</string>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadUUID</key>
			<string>38780483-114E-4685-87C1-344D394EA493</string>
			<key>PayloadVersion</key>
			<real>1</real>
			<key>Proxies</key>
			<dict>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPSEnable</key>
				<integer>0</integer>
				<key>ProxyAutoConfigEnable</key>
				<true/>
				<key>ProxyAutoDiscoveryEnable</key>
				<integer>1</integer>
			</dict>
			<key>UserDefinedName</key>
			<string>YONA-VPN-PROFILE-20150419-2109</string>
			<key>VPN</key>
			<dict>
				<key>AuthName</key>
				<string>${ldapUsername}</string>
				<key>AuthenticationMethod</key>
				<string>Certificate</string>
				<key>DisconnectOnIdle</key>
				<integer>0</integer>
				<key>OnDemandEnabled</key>
				<integer>1</integer>
				<key>OnDemandRules</key>
				<array>
					<dict>
						<key>Action</key>
						<string>Connect</string>
						<key>URLStringProbe</key>
						<string>http://www.yona.nl</string>
					</dict>
				</array>
				<key>PayloadCertificateUUID</key>
				<string>768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
				<key>RemoteAddress</key>
				<string>DEFAULT</string>
			</dict>
			<key>VPNSubType</key>
			<string>net.openvpn.OpenVPN-Connect.vpnplugin</string>
			<key>VPNType</key>
			<string>VPN</string>
			<key>VendorConfig</key>
			<dict>
				<key>auth</key>
				<string>SHA1</string>
				<key>auth-user-pass</key>
				<string>${ldapUsername}\n${ldapPassword}</string>
				<key>ca</key>
				<string>-----BEGIN CERTIFICATE-----
\nMIICdDCCAd2gAwIBAgIJAKHlBds0knLfMA0GCSqGSIb3DQEBCwUAMDExEzARBgNV
\nBAMTCnlvbmEtZ3cwMDMxDTALBgNVBAoTBFlvbmExCzAJBgNVBAYTAk5MMB4XDTE1
\nMTAyNDE4NDAxNVoXDTIzMTAyMjE4NDAxNVowMTETMBEGA1UEAxMKeW9uYS1ndzAw
\nMzENMAsGA1UEChMEWW9uYTELMAkGA1UEBhMCTkwwgZ8wDQYJKoZIhvcNAQEBBQAD
\ngY0AMIGJAoGBAM9iCyAcl67qerg9IYbkFUDTxG73hhUTqglDA7GkDv0Q8AUK6sFN
\ngKgIKyQ4Qy4QuqVeunTwHP1LVlNk1rIu9QNKAxL90B8u5n7UO7B6ASkTokOd1aD0
\njxN9FVJZPcejyqnr12R+uzBW3N1ZK87J/hS5aaKhDu535QN0yEZRO0LtAgMBAAGj
\ngZMwgZAwHQYDVR0OBBYEFD7+oDI0SxNHItX1CBsh79qZ7nLSMGEGA1UdIwRaMFiA
\nFD7+oDI0SxNHItX1CBsh79qZ7nLSoTWkMzAxMRMwEQYDVQQDEwp5b25hLWd3MDAz
\nMQ0wCwYDVQQKEwRZb25hMQswCQYDVQQGEwJOTIIJAKHlBds0knLfMAwGA1UdEwQF
\nMAMBAf8wDQYJKoZIhvcNAQELBQADgYEAx671Cv4urGpLGrH21bdGjR29qEUYGwU9
\n+qWWNiFHSiu+1928Ix1wun2NMKIDQWQ/zsCy/NtUhajK5lonvYVfsmcLCIqveAEV
\nk01xnwm210/pltMc43SOQDc8uc9wzMVo5az1+KRFqX6tNWX0YcKiMZJYIBLnW1LV
\nMQ9Zm4u00bA=
\n-----END CERTIFICATE-----</string>
				<key>cipher</key>
				<string>AES-256-CBC</string>
				<key>client</key>
				<string>NOARGS</string>
				<key>comp-lzo</key>
				<string>NOARGS</string>
				<key>dev</key>
				<string>tun</string>
				<key>key-direction</key>
				<string>1</string>
				<key>nobind</key>
				<string>NOARGS</string>
				<key>persist-key</key>
				<string>NOARGS</string>
				<key>persist-tun</key>
				<string>NOARGS</string>
				<key>proto</key>
				<string>tcp-client</string>
				<key>remote</key>
				<string>185.3.210.43 443</string>
				<key>resolv-retry</key>
				<string>infinite</string>
				<key>tls-auth</key>
				<string>-----BEGIN OpenVPN Static key V1-----
\n106a6773b0c019f61c954784ad67b852
\n74d82b712dd235e436950e17d019c2e8
\na4205bb809af417d85952bfc0c921cf5
\nec2547526584749ec079fe4e3ad5e0ec
\n9f20d0b6a25c6535c21101f98c3af8e3
\n44ad0e18bd04e96f2e4992fa1cbf7b23
\n2255c535385a194a176003aad54c38c8
\n62a3c98ede521f2a71e1fc8b348eb344
\n3bdfad46bfb885d3888e39a3b4187cf5
\ne6e6ef631f0b0ab3eb8210df58eeb379
\n1b51a2886ea5dcdfa18d19100142516d
\na2a714cbca00d031371b6f972fc85e22
\n5dd16fb22bbfb2841b9f8dd01a991069
\ndddc18040c43776680f36a451a9c8e77
\n63e1f19b2cf2f13bc3443ec54299f179
\n0e653b2b4baa3765cbd533e906762224
\n-----END OpenVPN Static key V1-----</string>
				<key>tls-remote</key>
				<string>"/C=NL/O=Yona/CN=yona-gw003"</string>
				<key>verb</key>
				<string>3</string>
				<key>vpn-on-demand</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
	<key>PayloadDisplayName</key>
	<string>YONA-VPN-20150415-2108</string>
	<key>PayloadIdentifier</key>
	<string>uk4-craggda.yona.nu.0BAC1CEF-D206-4526-998D-0BA8D7608E37</string>
	<key>PayloadOrganization</key>
	<string>YONA</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>D9233B7A-F711-46BB-AA17-347EE365EDBF</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
