<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	type="text/javascript"></script>
<script
	src="http://elycharts.com/sites/elycharts.com/repo/lib/raphael.js"
	type="text/javascript"></script>
<script
	src="http://elycharts.com/sites/elycharts.com/repo/dist/elycharts.min.js"
	type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
	$(function() {
		$("#chart").chart(
				{
					template : "line_basic_6",
					tooltips : {
						serieToday : [ "Today", "Today" ],
						serieYesterday : [ "Yesterday", "Yesterday" ],
						serieThisWeek : [ "Up to a week ago",
								"Up to a week ago" ],
						serieLastWeek : [ "Up to 2 weeks ago", "Up to 2 weeks ago" ],
						serieThisMonth : [ "Up to 30 days ago",
								"Up to 30 days ago" ],
						serieLastMonth : [ "Up to 60 days ago", "Up to 60 days ago" ],
						serieLongBack : [ "Long back", "Long back" ],
						serieNever : [ "Never", "Never" ]
					},
					legend : {
						serieNever : "Never",
						serieLongBack : "Long back",
						serieLastMonth : "Up to 60 days ago",
						serieThisMonth : "Up to 30 days ago",
						serieLastWeek : "Up to 2 weeks ago",
						serieThisWeek : "Up to a week ago",
						serieYesterday : "Yesterday",
						serieToday : "Today"
					},
					values : {
						serieToday : [ /*[[${appOpened[0]}]]*/ 21, /*[[${lastMonitoredActivity[0]}]]*/ 19 ],
						serieYesterday : [ /*[[${appOpened[1]}]]*/ 32, /*[[${lastMonitoredActivity[1]}]]*/ 32 ],
						serieThisWeek : [ /*[[${appOpened[2]}]]*/ 13, /*[[${lastMonitoredActivity[2]}]]*/ 14 ],
						serieLastWeek : [ /*[[${appOpened[3]}]]*/ 9, /*[[${lastMonitoredActivity[3]}]]*/ 11 ],
						serieThisMonth : [ /*[[${appOpened[4]}]]*/ 6, /*[[${lastMonitoredActivity[4]}]]*/ 5 ],
						serieLastMonth : [ /*[[${appOpened[5]}]]*/ 2, /*[[${lastMonitoredActivity[5]}]]*/ 5 ],
						serieLongBack : [ /*[[${appOpened[6]}]]*/ 16, /*[[${lastMonitoredActivity[6]}]]*/ 12 ],
						serieNever : [ /*[[${appOpened[7]}]]*/ 1, /*[[${lastMonitoredActivity[7]}]]*/ 2 ]
					},
					labels : [ "App opened", "Monitored activity" ],
					defaultSeries : {
						type : "bar",
						stacked : true,
						axis : "l"
					},
					axis : {
						l : {
							max : 100,
							suffix : "%"
						}
					}
				});

	});

	$.elycharts.templates['line_basic_6'] = {
		type : "line",
		margins : [ 120, 20, 140, 40 ],
		defaultSeries : {
			highlight : {
				newProps : {
					r : 8,
					opacity : 1
				},
				overlayProps : {
					fill : "white",
					opacity : 0.2
				}
			}
		},
		series : {
			serieToday : {
				color : "90-#003000-#009000",
				tooltip : {
					frameProps : {
						stroke : "green"
					}
				}
			},
			serieYesterday : {
				color : "90-#000060-#0000B0",
				tooltip : {
					frameProps : {
						stroke : "blue"
					}
				},
			},
			serieThisWeek : {
				color : "90-#003000-#009000",
				tooltip : {
					frameProps : {
						stroke : "green"
					}
				}
			},
			serieLastWeek : {
				color : "90-#000060-#0000B0",
				tooltip : {
					frameProps : {
						stroke : "blue"
					}
				}
			},
			serieThisMonth : {
				color : "90-#003000-#009000",
				tooltip : {
					frameProps : {
						stroke : "green"
					}
				}
			},
			serieLastMonth : {
				color : "90-#000060-#0000B0",
				tooltip : {
					frameProps : {
						stroke : "blue"
					}
				}
			},
			serieLongBack : {
				color : "90-#003000-#009000",
				tooltip : {
					frameProps : {
						stroke : "green"
					}
				}
			},
			serieNever : {
				color : "90-#000060-#0000B0",
				tooltip : {
					frameProps : {
						stroke : "blue"
					}
				}
			}
		},
		defaultAxis : {
			labels : true
		},
		axis : {
			x : {
				labelsRotate : 60,
				labelsProps : {
					font : "12px Verdana"
				}
			}
		},
		features : {
			grid : {
				draw : true,
				forceBorder : true,
				ny : 5
			},
			legend : {
				vertical : true,
				width : 240,
				height : 100,
				x : 40,
				y : 0,
				borderProps : {
					"fill-opacity" : 0.1
				}
			}
		},
		barMargins : 10
	};
</script>
</head>
<body>
	<h1>User statistics</h1>
	<p>Total number of users: <span th:text="${totalNumOfUsers}">1</span></p> 
	<div id="chart" style="width: 300px; height: 600px"></div>
</body>
</html>