<!DOCTYPE html>
 <html>
 <head><title>System messages</title></head>
 <body>
 	<p class="flash-message" th:if="${flashMessage != null}" th:text="${flashMessage}">(Result from submit)</p>
 
 	<h2>Send system message</h2>
 	<form action="" method="post">
         <!--p><label>Title: <input type="text" name="title" /></label></p-->
         <p><label>Message: <textarea name="message" maxlength="255"></textarea></label></p>
         <p><input type="submit" value="Submit" /></p>
     </form>
 </body>
 </html> 