dependencies:
  - name: mariadb
    version: 0.6.3
    repository:  "https://kubernetes-charts.storage.googleapis.com"
    condition: support_infrastructure.enabled
  - name: ldap
    version: 0.1.1
    repository:  "https://jump.ops.yona.nu/helm-charts"
    condition: support_infrastructure.enabled
  - name: hazelcast
    version: 0.1.2
    repository:  "https://jump.ops.yona.nu/helm-charts"
    condition: support_infrastructure.enabled
