apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.release }}-{{ .Values.global.stage | default "develop" }}-resources
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
data:
  profile.ovpn: |
    client
    dev tun
    resolv-retry infinite
    nobind
    persist-key
    persist-tun
    <ca>
{{ .Values.vpn.ca | indent 4 }}
    </ca>
    auth-user-pass
    cipher AES-256-CBC
    auth SHA1
    comp-lzo
    verb 3
    nobind
    remote {{ .Values.vpn.remote }}
    proto tcp-client
    tls-remote {{ .Values.vpn.tls_remote }}
    <tls-auth>
{{ .Values.vpn.tls_auth | indent 4 }}
    </tls-auth>
    key-direction 1
  rootcert.cer: |
    -----BEGIN CERTIFICATE-----
{{ .Values.certs.root | indent 4 }}
    -----END CERTIFICATE-----
  apple.mobileconfig.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <!--
        Copyright (c) 2017 Stichting Yona Foundation
       
        This Source Code Form is subject to the terms of the Mozilla Public
        License, v. 2.0. If a copy of the MPL was not distributed with this
        file, You can obtain one at https://mozilla.org/MPL/2.0/.
     -->

    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>ConsentText</key>
      <dict>
        <key>default</key>
        <string>Please Allow me</string>
      </dict>
      <key>PayloadContent</key>
      <array>
        <dict>
          <key>PayloadCertificateFileName</key>
          <string>Guardian CA Cert (4) (1).crt</string>
          <key>PayloadContent</key>
          <data>
{{ .Values.vpn.cert | indent 12 }}
          </data>
          <key>PayloadDescription</key>
          <string>Adds a CA root certificate</string>
          <key>PayloadDisplayName</key>
          <string>Smoothwall-HTTPS-Interception-Certificate-Authority</string>
          <key>PayloadIdentifier</key>
          <string>com.apple.security.root.FE67BAE8-B81C-4764-92E4-61F42AE23505</string>
          <key>PayloadType</key>
          <string>com.apple.security.root</string>
          <key>PayloadUUID</key>
          <string>FE67BAE8-B81C-4764-92E4-61F42AE23505</string>
          <key>PayloadVersion</key>
          <integer>1</integer>
        </dict>
        <dict>
          <key>Password</key>
          <string>joepie</string>
          <key>PayloadCertificateFileName</key>
          <string>rquist@yona.noww.p12</string>
          <key>PayloadContent</key>
          <data>
{{ .Values.vpn.ca | indent 12 }}
          </data>
          <key>PayloadDescription</key>
          <string>Adds a PKCS#12-formatted certificate</string>
          <key>PayloadDisplayName</key>
          <string>rquist@yona.noww.p12</string>
          <key>PayloadIdentifier</key>
          <string>com.apple.security.pkcs12.768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
          <key>PayloadType</key>
          <string>com.apple.security.pkcs12</string>
          <key>PayloadUUID</key>
          <string>768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
          <key>PayloadVersion</key>
          <integer>1</integer>
        </dict>
        <dict>
          <key>IPv4</key>
          <dict>
            <key>OverridePrimary</key>
            <integer>1</integer>
          </dict>
          <key>PayloadDescription</key>
          <string>Configures VPN settings</string>
          <key>PayloadDisplayName</key>
          <string>VPN</string>
          <key>PayloadIdentifier</key>
          <string>com.apple.vpn.managed.2EE0702C-5E6B-4C9D-818B-32E40E86D9A1</string>
          <key>PayloadType</key>
          <string>com.apple.vpn.managed</string>
          <key>PayloadUUID</key>
          <string>38780483-114E-4685-87C1-344D394EA493</string>
          <key>PayloadVersion</key>
          <real>1</real>
          <key>Proxies</key>
          <dict>
            <key>HTTPEnable</key>
            <integer>0</integer>
            <key>HTTPSEnable</key>
            <integer>0</integer>
            <key>ProxyAutoConfigEnable</key>
            <true/>
            <key>ProxyAutoDiscoveryEnable</key>
            <integer>1</integer>
          </dict>
          <key>UserDefinedName</key>
          <string>YONA-VPN-PROFILE-20150419-2109</string>
          <key>VPN</key>
          <dict>
            <key>AuthName</key>
            <string th:text="${ldapUsername}">To be replaced</string>
            <key>AuthenticationMethod</key>
            <string>Certificate</string>
            <key>DisconnectOnIdle</key>
            <integer>0</integer>
            <key>OnDemandEnabled</key>
            <integer>1</integer>
            <key>OnDemandRules</key>
            <array>
              <dict>
                <key>Action</key>
                <string>Connect</string>
                <key>URLStringProbe</key>
                <string>http://www.yona.nl</string>
              </dict>
            </array>
            <key>PayloadCertificateUUID</key>
            <string>768377CF-8C95-44DA-8C9F-45DAA86997C2</string>
            <key>RemoteAddress</key>
            <string>DEFAULT</string>
          </dict>
          <key>VPNSubType</key>
          <string>net.openvpn.OpenVPN-Connect.vpnplugin</string>
          <key>VPNType</key>
          <string>VPN</string>
          <key>VendorConfig</key>
          <dict>
            <key>auth</key>
            <string>SHA1</string>
            <key>auth-user-pass</key>
            <string th:text="${ldapUsername} +'\n' + ${ldapPassword}">To be replaced</string>
            <key>ca</key>
            <string>-----BEGIN CERTIFICATE-----
    \nMIICejCCAeOgAwIBAgIJALvSluFMBlfjMA0GCSqGSIb3DQEBCwUAMDMxFTATBgNV
    \nBAMTDHlvbi1wcm9kLXZwbjENMAsGA1UEChMEWW9uYTELMAkGA1UEBhMCTkwwHhcN
    \nMTcwMTMwMjA1MzQ5WhcNMzIwMTI3MjA1MzQ5WjAzMRUwEwYDVQQDEwx5b24tcHJv
    \nZC12cG4xDTALBgNVBAoTBFlvbmExCzAJBgNVBAYTAk5MMIGfMA0GCSqGSIb3DQEB
    \nAQUAA4GNADCBiQKBgQDoqq9sR/eKzBiwDp9SQM0LXjdBmtEczrqG9Pzjf7KW72Dy
    \ntkCyH399Zwbb5VM4+2lgxeMeAtAnFXwCqdF9Pq8tdzc7eUVt0t4OnOlu2wqk2q2C
    \njoMmUd6mXdYBcvluLY9Up2DYmhhUKd3g4F9YNNtofTaV5Q2aXXk2vyNXmx4VHwID
    \nAQABo4GVMIGSMB0GA1UdDgQWBBQAlv8YoNPNL6YkSMsIkaYGMVfAejBjBgNVHSME
    \nXDBagBQAlv8YoNPNL6YkSMsIkaYGMVfAeqE3pDUwMzEVMBMGA1UEAxMMeW9uLXBy
    \nb2QtdnBuMQ0wCwYDVQQKEwRZb25hMQswCQYDVQQGEwJOTIIJALvSluFMBlfjMAwG
    \nA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADgYEArx5MXvv0bJ3XfF6xL+0qeX2u
    \n0YX/bJgzL6Et4TpkYqxn0nYnLV7QJz1ViKgc6NYrZAeikjXIyU1oa7Q34EhPBR12
    \n1KZmTXq17kRFCiq2l1iatDhpgcCUZA2fpySm1SFZ8PJVINx+KeMpHMLilvmyBFdT
    \nq6hFhyS35ydZaGNoLC0=
    \n-----END CERTIFICATE-----</string>
            <key>cipher</key>
            <string>AES-256-CBC</string>
            <key>client</key>
            <string>NOARGS</string>
            <key>comp-lzo</key>
            <string>NOARGS</string>
            <key>dev</key>
            <string>tun</string>
            <key>key-direction</key>
            <string>1</string>
            <key>nobind</key>
            <string>NOARGS</string>
            <key>persist-key</key>
            <string>NOARGS</string>
            <key>persist-tun</key>
            <string>NOARGS</string>
            <key>proto</key>
            <string>tcp-client</string>
            <key>remote</key>
            <string>vpn.prd.yona.nu 443</string>
            <key>resolv-retry</key>
            <string>infinite</string>
            <key>tls-auth</key>
            <string>-----BEGIN OpenVPN Static key V1-----
    \n106a6773b0c019f61c954784ad67b852
    \n74d82b712dd235e436950e17d019c2e8
    \na4205bb809af417d85952bfc0c921cf5
    \nec2547526584749ec079fe4e3ad5e0ec
    \n9f20d0b6a25c6535c21101f98c3af8e3
    \n44ad0e18bd04e96f2e4992fa1cbf7b23
    \n2255c535385a194a176003aad54c38c8
    \n62a3c98ede521f2a71e1fc8b348eb344
    \n3bdfad46bfb885d3888e39a3b4187cf5
    \ne6e6ef631f0b0ab3eb8210df58eeb379
    \n1b51a2886ea5dcdfa18d19100142516d
    \na2a714cbca00d031371b6f972fc85e22
    \n5dd16fb22bbfb2841b9f8dd01a991069
    \ndddc18040c43776680f36a451a9c8e77
    \n63e1f19b2cf2f13bc3443ec54299f179
    \n0e653b2b4baa3765cbd533e906762224
    \n-----END OpenVPN Static key V1-----</string>
            <key>tls-remote</key>
            <string>"/C=NL/O=Yona/CN=yonauser"</string>
            <key>verb</key>
            <string>3</string>
            <key>vpn-on-demand</key>
            <string>1</string>
          </dict>
        </dict>
      </array>
      <key>PayloadDisplayName</key>
      <string>YONA-VPN-20150415-2108</string>
      <key>PayloadIdentifier</key>
      <string>uk4-craggda.yona.nu.0BAC1CEF-D206-4526-998D-0BA8D7608E37</string>
      <key>PayloadOrganization</key>
      <string>YONA</string>
      <key>PayloadRemovalDisallowed</key>
      <false/>
      <key>PayloadType</key>
      <string>Configuration</string>
      <key>PayloadUUID</key>
      <string>D9233B7A-F711-46BB-AA17-347EE365EDBF</string>
      <key>PayloadVersion</key>
      <integer>1</integer>
    </dict>
    </plist>
        

