<html>
    <body>
		<h3>Hi ${buddyName}, become my buddy for Yona!</h3>
		
		<p>${message}</p>
		
		<p>As we have talked about, I'd like you to become my buddy in the Yona system. If you didn't install the Yona app yet, please start with doing that. Here are the links:...</p>

		<p>Next, open the below link by tapping on it and selecting Yona as the app to open it with.</p>
		
		<p>Important: Validate that @{requestingUserName} has really invited you. The mobile number registered with Yona for this user is ${requestingUserMobileNumber}.</p>
		
		<p>You can expect a mail from us send to email address: ${emailAddress}.
		
 		<p><a href="${inviteURL}">${inviteURL}</a></p>
		
		<p>
			Best regards,<br/>
			${requestingUserName} | ${requestingUserNickname}
		</p>
    </body>
</html>