<html>
    <body>
		<h3>Hi ${buddyName}, become my buddy for Yona!</h3>
		
		<p>Install the app! Open this URL with the app! <a href="${inviteURL}">${inviteURL}</a> </p>
		
		<p>
			Best regards,<br/>
			${requestingUserName}
		</p>
    </body>
</html>