name: Build, check and publish

on:
  workflow_call:
    inputs:
      is-pr-build:
        required: true
        type: boolean
      build-id:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      YONA_BUILD_GITHUB_PAT:
        required: false
      DOCKER_HUB_USER_NAME:
        required: false
      DOCKER_HUB_PASSWORD:
        required: false
      SLACK_BOT_TOKEN:
        required: false

defaults:
  run:
    working-directory: yona-server

jobs:
  build-check-and-publish:
    name: Build, check and publish
    runs-on: ubuntu-latest
    env:
      CHART: yona
      HELM_REPO: helm-charts
      BUILD_ID: ${{ inputs.build-id }} # Used in Gradle and wait-for-services
    steps:
      - name: Checkout src repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of SonarQube analysis
          path: 'yona-server'
      - name: Set up JDK
        uses: actions/setup-java@v4.7.1
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary-as-pr-comment: on-failure
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        working-directory: yona-server
        run: |
          ./gradlew \
            check \
            sonarqube \
            --info
      - name: Build Docker images
        working-directory: yona-server
        run: |
          ./gradlew \
            -PdockerUrl=unix:///var/run/docker.sock \
            buildDockerImage
      - name: Checkout Helm chart repo for PR
        if: ${{ inputs.is-pr-build }}
        uses: actions/checkout@v4
        with:
          repository: yonadev/${{ env.HELM_REPO }}
          path: '${{ env.HELM_REPO }}'
      - name: Checkout Helm chart repo for normal build
        if: ${{ !inputs.is-pr-build }}
        uses: actions/checkout@v4
        with:
          repository: yonadev/${{ env.HELM_REPO }}
          path: '${{ env.HELM_REPO }}'
          token: ${{ secrets.YONA_BUILD_GITHUB_PAT }}
      - name: Set environment
        working-directory: '${{ env.HELM_REPO }}'
        run: |
          HELM_REPO_DIR=${PWD}
          echo "HELM_REPO_DIR=$HELM_REPO_DIR" >> $GITHUB_ENV
          echo "PACKAGE_DIR=${HELM_REPO_DIR}/docs" >> $GITHUB_ENV
          if [[ "${{ inputs.is-pr-build}}" == "true" ]]; then
            echo "CHART_VERSION=0.0.1" >> $GITHUB_ENV
          else
            echo "CHART_VERSION=1.2.${{ inputs.build-id }}" >> $GITHUB_ENV
          fi
      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.9.0'
      - name: Build Helm package
        working-directory: yona-server/k8s/helm
        run: |
          mkdir build
          cp -r ${CHART} build
          pushd build
          sed --in-place s/_ReplaceWithBuildId_/${{ inputs.build-id }}/ ${CHART}/Chart.yaml
          helm dependency update ${CHART}
          helm package -d ${PACKAGE_DIR} --version ${CHART_VERSION} ${CHART}
          popd
      - name: Set up Minikube
        uses: manusa/actions-setup-minikube@v2.14.0
        with:
          minikube version: 'v1.33.1'
          kubernetes version: 'v1.30.2'
      - name: Deploy Yona
        run: |
          kubectl create -f k8s/01_namespace.yaml
          kubectl create -f k8s/02_storage.yaml
          helm repo add yona https://yonadev.github.io/helm-charts
          helm repo update
          minikube image load yonadev/adminservice:build-${{ inputs.build-id }}
          minikube image load yonadev/analysisservice:build-${{ inputs.build-id }}
          minikube image load yonadev/appservice:build-${{ inputs.build-id }}
          minikube image load yonadev/batchservice:build-${{ inputs.build-id }}
          minikube image load yonadev/yona-mariadb-liquibase-update:build-${{ inputs.build-id }}
          cat > values.yml << EOF
          seed_max_tries: 30
          support_infrastructure:
            enabled: true

          global:
            imagePullPolicy: Never

          mariadb:
            primary:
              persistence:
                enabled: false

          ldap:
            enabled: false

          nodePorts: {}

          job_liquibase:
            log_storage_volume_enabled: true

          admin:
            act_categories_json_file : activityCategories.json

          app:
            max_users: "10000"
            test_server: true
            enable_hibernate_stats_allowed: true
          EOF

          helm upgrade --wait --wait-for-jobs --install --values values.yml --namespace yona yona ${PACKAGE_DIR}/${CHART}-${CHART_VERSION}.tgz

          ./scripts/wait-for-services.sh
      - name: Run integration tests
        working-directory: yona-server
        run: |
          ./gradlew \
            --no-daemon \
            -Pyona_adminservice_url=http://localhost:31000 \
            -Pyona_analysisservice_url=http://localhost:31001 \
            -Pyona_appservice_url=http://localhost:31002 \
            -Pyona_batchservice_url=http://localhost:31003 \
            intTest
      - name: Run integration tests
        working-directory: yona-server
        run: |
          ./gradlew \
            --no-daemon \
            -Pyona_adminservice_url=http://localhost:31000 \
            -Pyona_analysisservice_url=http://localhost:31001 \
            -Pyona_appservice_url=http://localhost:31002 \
            -Pyona_batchservice_url=http://localhost:31003 \
            intTest
      - name: Gather logs
        if: always()
        run: |
          mkdir /tmp/yona-logs
          i=0
          for f in $(find /tmp/hostpath-provisioner -name liquibase-update.log); do
            cp ${f} /tmp/yona-logs/liquibase-update-${i}.log
            ((i+=1))
          done
          kubectl config set-context --current --namespace=yona
          for p in $(kubectl get pods -o jsonpath='{range .items[*]}{.metadata.name}{"\n"}{end}'); do
            kubectl logs ${p} > /tmp/yona-logs/${p}.log || true # Ignore errors
          done
      - name: Upload logs as artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: /tmp/yona-logs/
      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2.7
        with:
          files: |
            **/build/test-results/test/*.xml
            **/build/test-results/intTest/*.xml
      - name: Publish Docker images
        if: ${{ !inputs.is-pr-build }}
        working-directory: yona-server
        run: |
          ./gradlew \
            -PdockerHubUserName=${{ secrets.DOCKER_HUB_USER_NAME }} \
            -PdockerHubPassword=${{ secrets.DOCKER_HUB_PASSWORD }} \
            -PdockerUrl=unix:///var/run/docker.sock \
            pushDockerImage
      - name: Publish Helm package
        if: ${{ !inputs.is-pr-build }}
        working-directory: yona-server/k8s/helm
        run: |
          pushd ${HELM_REPO_DIR}
          git add ${PACKAGE_DIR}/${CHART}-${CHART_VERSION}.tgz
          helm repo index docs --url https://yonadev.github.io/helm-charts
          export GIT_AUTHOR_NAME="Yona build server"
          export GIT_AUTHOR_EMAIL=dev@yona.nu
          export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
          export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL
          git commit -am "Package for build ${{ inputs.build-id }}"
          git push https://github.com/yonadev/$HELM_REPO.git master
          popd
      - name: Tag the build
        if: ${{ !inputs.is-pr-build }}
        run: |
          export GIT_AUTHOR_NAME="Yona build server"
          export GIT_AUTHOR_EMAIL=dev@yona.nu
          export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
          export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL
          git config --global user.email "${GIT_AUTHOR_EMAIL}"
          git config --global user.name "${GIT_AUTHOR_NAME}"
          git tag --force --annotate build-${{ inputs.build-id }} -m "GitHub build"
          git push -f https://github.com/yonadev/yona-server.git refs/tags/build-${{ inputs.build-id }}
      - name: Wait for Helm package to become available on GitHub pages
        if: ${{ !inputs.is-pr-build }}
        run: |
          maxWaitTime=600 # GitHub: Note: It can take up to 10 minutes for changes to your site to publish
          sleepDuration=5
          totalSleepDuration=0
          while (( totalSleepDuration < maxWaitTime )); do
            if curl --output /dev/null --silent --head --fail https://yonadev.github.io/helm-charts/yona-1.2.${{ inputs.build-id }}.tgz; then
                    echo Helm chart is available after ${totalSleepDuration} seconds
              exit 0
            else
              sleep ${sleepDuration}
              ((totalSleepDuration+=sleepDuration))
            fi
          done
          echo "ERROR: Helm chart is NOT available after ${totalSleepDuration} seconds"
          exit 1
      - name: Notify regular build success through Slack
        if: ${{ success() && !inputs.is-pr-build }}
        uses: slackapi/slack-github-action@v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: '#devops'
            text: "Build ${{ inputs.build-id }} completed successfully"
      - name: Notify PR build success through Slack
        if: ${{ success() && inputs.is-pr-build }}
        uses: slackapi/slack-github-action@v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: '#devops'
            text: "Successfully built PR https://github.com/yonadev/yona-server/pull/${{ github.event.number }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      - name: Notify failure through Slack
        if: failure()
        uses: slackapi/slack-github-action@v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: '#devops'
            text: "Build ${{ inputs.build-id }} failed. See https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
