name: Pull request check

on:
  pull_request:
    branches: [ master ]

jobs:
  determine-build-id:
    name: Determine build ID
    runs-on: ubuntu-latest
    outputs:
      build-id: ${{ steps.set-build-id.outputs.build-id }}
    steps:
      - name: Set build ID
        id: set-build-id
        run: |
          build_id="pr${{ github.event.number }}"
          echo "build-id=${build_id}" >> $GITHUB_OUTPUT

  build-check-publish:
    needs: determine-build-id
    uses: ./.github/workflows/build-check-publish.yml
    with:
      build-id: ${{ needs.determine-build-id.outputs.build-id }}
      is-pr-build: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    permissions:
      checks: write
      issues: write
      pull-requests: write

  dependency-submission-and-review:
    name: Publish and review dependencies
    needs:
      - build-check-publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout src repo
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Publish Gradle dependencies
        uses: gradle/actions/dependency-submission@v5
      - name: Review dependencies
        uses: actions/dependency-review-action@v4.8.2
        with:
          comment-summary-in-pr: on-failure
          allow-ghsas: GHSA-4265-ccf5-phj5 # Apache Commons Compress: OutOfMemoryError unpacking broken Pack200 file
